.header{
    color: #fff !important;padding:0 10px !important;
    .logo{
        font-size:22px;
        color: #fff;
        .icon{margin-right:8px;font-size:40px;color:#ff0;vertical-align: middle;}
    }
}