<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品详情信息页面</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    <div class="  col-lg-3">
        <img src="<%=data.img_url%>" class="img-fluid"/>
        <h1 class="h4 text-secondary"><%=data.goods_name%></h1>
        <p class="price text-danger">
            <del class="fst-italic">￥<%=data.price%></del>
            <span class="fs-3">￥<%=data.sales_price%></span>
        </p>
    </div>
</body>
</html>